main{
  font-size: 15pt;
  line-height: 1.7rem;
  max-width: 100%;
  font-family: standard-webfont, Helvetica, Arial, sans-serif;
  color: whitesmoke;
}

h1{
  font-size: 1.5rem;
  letter-spacing: .02rem;
  text-align: center;
  font-weight: bold;
  font-family: Basteleur-moonlight, Helvetica, Arial, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
  margin-bottom: 1rem;
}

h2{
  letter-spacing: .02rem;
  font-size: 1.25rem;

  color: whitesmoke;
}

h3{
  letter-spacing: .02rem;
  font-size: 1.1rem;
  padding: 0.9rem;
  text-align: center;
  color: whitesmoke;
}

h4,
h5,
h6,
p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: whitesmoke;
}

.measure {
max-width: 66ch;
}

.indent {
  text-indent: 2em;
}
.leading{
  line-height: 1.8rem;
}